.col-md-5,
col-md-10 {
  margin-bottom: 20px;
}

.form-control {
  background: #100e17;
  border: none;
}

.form-control:active,
.form-control:hover,
.form-control:focus {
  background: #100e17;
  color: #a6a4ad;
}
.mb-2 {
  margin-top: 20px;
  width: 150px;
  color: #9d9da7;
  text-transform: uppercase;
  background: none;
  font-weight: bolder;
  font-size: 15px;
  white-space: nowrap;
  border: 3px solid #28242f;
  border-radius: 3rem;
  padding: 15px;
}

.mb-2:hover {
  color: #fff;
  border: 4px solid #fff;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.h1-c {
  padding: 2rem;
  color: #9d9da7;
  border: 3px solid #28242f;
  border-radius: 3rem;
  padding: 9px;
  text-align: center;
  width: 10%;
  contain: layout;
}

.con-layout {
  padding: 2rem;
}

.social > li {
  border: 1px solid white;
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  color: #9d9da7;
  border-radius: 2rem;
  cursor: pointer;
}

.social > li a {
  color: rgb(255, 255, 255);
}

.res {
  border: 1px solid white;
  text-decoration: none;
  padding: 20px;
  margin: 5px;
  color: #9d9da7;
  border-radius: 2rem;
  cursor: pointer;
}

.res:hover,
a:hover {
  text-decoration: none;
  color: #ff8a00;
  border: 1px solid #ff8a00;
}
