


    .nav-link{
        margin-top: 10px;
        width: 110px;
        height: 50px;
        color: #9d9da7;
        text-transform: uppercase;
        background: none;
        font-weight: bolder;
        font-size: 15px;
        border: 6px solid #28242f;
        border-radius: 1rem;
        text-align: center;
        padding: 10px;
        margin-left: 10px;
    }

    .nav-link:hover{
        color: rgb(0, 0, 0);
        border: 1px solid #fff;
        background: linear-gradient(90deg,#ff8a00,#e52e71);
    }


