.col-color{
    background:#100e17;
    left: 0;
}
.pat-prop{
    position: fixed;
    margin-top: 50px;
    opacity: .7;
    width: 30%;
    height: 90%;
}
.list{
    margin-top: 10px;
}
.list-prop{
    width: 250px;
    position: fixed;
    text-align: center;
    object-position: center;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 20px;
    padding: 10px;
        border-radius: 50%;
    

}

.list-prop a{
    margin-top: 10px;
    color: #9d9da7;
    text-transform: uppercase;
    background: none;
    font-weight: bolder;
    font-size: 15px;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 3rem;
    padding: 15px;
}

.list-prop a:hover{
    color: #fff;
    border: 4px solid #fff;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
}

.list-group-item.active{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    color: #fff;
    border: 4px solid #fff;
}

.col-props{

}