@font-face {
  src: url("../font/PlayfairDisplay-Black.ttf");
  font-family: Playfair Display;
}

@font-face {
  src: url("../font/PlayfairDisplay-Regular.ttf");
  font-family: Playfair;
}

h3 {
  color: black;
}

.con {
  position: relative;
  margin-bottom: 12%;
}

/* .overlay{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    opacity: .5;
    overflow: hidden;
    justify-content: center;
} */
.patricles {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
.patricles canvas {
  width: 100% !important;
  height: 1000px !important;
}

.details {
  margin-top: -500px;
}
caption {
  font-family: "Playfair";
  position: absolute;
  top: 30%;
  color: blanchedalmond;
  font-weight: bolder;
  overflow: hidden;
}

caption > h6 {
  font-family: monospace;
  font-size: 15px;
  color: #9d9da7;
}
caption > h1 {
  font-size: 80px;
  font-family: "Playfair Display";
  line-height: 5rem;
}

caption > h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  color: rgb(160, 160, 160);
  line-height: 2rem;
}
caption > h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: rgb(155, 155, 155);
  line-height: 2rem;
  margin-top: 10px;
}
.c-img > img {
  position: absolute;
  top: 150px;
  right: 150px;
  height: 350px;
}
.btn-primary {
  padding: 20px;
}

.H-Button {
  position: absolute;
  top: 460px;
  color: #9d9da7;
  text-transform: uppercase;
  background: none;
  font-weight: bolder;
  font-size: 20px;
  white-space: nowrap;
  border: 3px solid #28242f;
  border-radius: 3rem;
}

.H-Button:hover {
  border: 4px solid #fff;
  background: linear-gradient(90deg, #ff8a00, #e52e71);
}

@media screen and (max-width: 768px) {
  .details {
    margin-top: -900px;
  }
  .con {
    margin-bottom: 180%;
  }
  caption {
    top: 50%;
    margin: 20px;
  }
  caption > h6 {
    font-size: 10px;
  }
  caption > h1 {
    font-size: 50px;
    line-height: 3rem;
  }

  caption > h3 {
    font-size: 30px;
  }

  .H-Button {
    top: 520px;
    width: 270px;
    align-content: center;
    margin: 4px;
    height: 50x;
    margin: 20px;
  }
  .c-img > img {
    top: 100px;
    right: 80px;
    height: 200px;
  }
  .patricles {
    top: 150px;
    opacity: 0.5;
    width: 50%;
    height: 50%;
  }
}
