.al{
    font-family: monospace;
    font-variant-caps: unicase;
    margin-top: 5px;
    color: white;
}

.Ex{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    color: white;
}


.card-body{
    color: rgb(236, 236, 236);
    
    
}

.card{
    background:#100e17;
    margin: 10px;
    display: flexbox;

}

.bg{
    background-color: #1e1b25;
}

