.bg{
    background-color: #1e1b25;
}

h3{
    color: azure;
}

[Jumbotron] > h1{
    color: rgb(68, 73, 73);
    text-align: center;
    padding: 20px;
    line-height: none;
}

.col-md-6{
    display: inline-table;
    padding: 10px;


}

[aria-valuenow]{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
}