.col-color{
    background-color:rgb(0, 62, 112);
    left: 0;
}
.pat-prop{
    position: absolute;
    margin-top: 50px;
    opacity: .7;
    width: 100%;
    height: 50%;
}
.list{
    margin-top: 10px;
}
.list-prop{
    text-align: center;
    object-position: center;
    margin: 150px 20px 20px 40px;
    padding: 20px;

}