@font-face{
    src: url("../font/PlayfairDisplay-Black.ttf");
    font-family: Playfair Display;
}

@font-face{
    src: url("../font/PlayfairDisplay-Regular.ttf");
    font-family: Playfair;
}


h3{
    color:  black;
}

.con{
    position: relative;
    width: 100%;
    height: 0%;  
    background-color: #100e17;
    overflow: hidden;
}

/* .overlay{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 70%;
    top: 0;
    opacity: .5;
    overflow: hidden;
    justify-content: center;
} */
.patricles{
    opacity: .5;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
caption{
    font-family: "Playfair";
    position: absolute;
    top: 30%;
    color: blanchedalmond;
    font-weight: bolder;
    overflow: hidden;
}

caption > h6{
    font-family: monospace; 
    font-size: 15px;
    color: #9d9da7;
}
caption > h1{
    font-size: 50px;
    font-family: "Playfair Display";
    line-height: 3.5rem;
}

caption > h3{
    font-family: "Playfair";
    font-size: 40px;
    color: blanchedalmond;
    line-height: 2rem;
}
.c-img > img{
    position: absolute;
    top: 100px;
    right: 150px;
    width: 550px;
    height: 350px;

}

.H-Button{
    position: absolute;
    top: 430px;
    color: #9d9da7;
    text-transform: uppercase;
    background: none;
    font-weight: bolder;
    font-size: 15px;
    white-space: nowrap;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: 15px;
}

.H-Button:hover{
    border: 4px solid #fff;
    background: linear-gradient(90deg,#ff8a00,#e52e71);
}