@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  background: #100e17;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inCon {
  margin: 0.5rem auto;
  width: 70%;
}

.form-control {
  background-color: #181717;
  border: none;
  margin: 0.5rem auto;
  border-radius: 0px !important;
  height: 60px;
}

.btn-primary:active,
.btn-primary:hover,
.form-control:active,
.form-control:hover,
.form-control:focus {
  background: #1d1d1f;
  color: #a6a4ad;
}

.btn-primary {
  background-color: #181717;
  width: 20%;
  border: none;
  height: 60px;
  float: right;
  border-radius: 0px !important;
}
.containers {
  width: 70%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding-right: 2rem;
}
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(./Componnets/img/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.938);
}

.hero .hero-name {
  display: grid;
  place-items: center;
  position: relative;
  padding-top: 20%;
  font-weight: 500;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(252, 252, 252);
}

.hero .hero-desc,
h4 {
  display: grid;
  place-items: center;
  position: relative;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  color: #4d4b4b;
  letter-spacing: 0.2rem;
}

.skill {
  width: 100%;
  height: 120vh;
  background: #000000;
}

.skill .skill-header {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.skill .skill-item {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  place-items: center;
}

.skill .skill-item .skill-item-list {
  text-decoration: none;
  flex: 0 5%;
  /* padding: 20px; */
  /* margin-top: 6rem; */
  /* margin: 0.4rem; */
  color: #1b1a1a;
  /* font-size: 1rem; */
}
.skill-item-list {
  width: 15rem;
  height: 100% auto;
  padding: 2rem;
  /* background-color: #161414; */
  /* border-radius: 1rem; */
  /* text-align: center; */
}

.Services {
  width: 100%;
  height: 120vh;
  background: #000000;
}

.Services .Services-header {
  display: grid;
  place-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
}

.Services .Services-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  place-items: center;
}

.Services .Services-item .Services-item-list {
  text-decoration: none;
  flex: 1 0 20%;
  /* padding: 20px; */
  /* margin-top: 6rem; */
  margin: 0.4rem;
  color: #1b1a1a;
  /* font-size: 1rem; */
}
.Services-item-list {
  width: 15rem;
  height: 100% auto;
  padding: 2rem;
  background-color: #161414;
  /* border-radius: 1rem; */
  /* text-align: center; */
}

h2 {
  color: #e4e4e4;
}
p {
  font-size: 1.2rem;
  color: #4b4c50;
  font-weight: 300;
}

.recent-work {
  width: 100%;
  height: 120vh;
  background-color: #161414;
  /* background-image: url(./Componnets/img/hero.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.recent-work-header {
  display: grid;
  place-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
  color: #e4e4e4;
}

.recent-work .recent-work-item {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  place-items: center;
}
.recent-work .recent-work-item .recent-item {
  text-decoration: none;
  flex: 0 50%;
  /* margin-bottom: 2%; */
  color: #000000;
  cursor: pointer;
}
/* .recent-item {
  width: 100rem;
  height: 15rem;
} */

.contact {
  width: 100%;
  height: 100vh;
  background: #000000;
  color: white;
}

.contact .contact-header {
  display: grid;
  place-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}
.modal-content {
  border: 0 !important;
}

.card {
  border: none;
  border-radius: 0;
}

.card:hover {
  transform: translateY(-20%);
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover,
.nav-link:active {
  color: #ffffff !important;
}
.contact-icon {
  font-size: 8rem;
  margin-top: 5rem;
  padding: 0.9rem;
  color: #4b4c50;
}

.contact-icon:hover,
.skill-icon:hover {
  color: white;
  cursor: pointer;
}

.skill-icon {
  font-size: 5rem;
  color: #4b4c50;
}
.services-icon {
  font-size: 5rem;
  padding: 0.5rem;
  color: #4b4c50;
}
.footer {
  display: grid;
  place-items: center;
  margin-top: 15rem;
}
.navbar-toggler {
  background-color: #4d4b4b6c;
  border: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .hero .hero-name {
    font-size: 1.8rem;
    padding-top: 70%;
  }

  .hero .hero-desc,
  h4 {
    font-size: 1rem;
    letter-spacing: normal;
  }
  .skill {
    height: 120vh;
  }

  .Services {
    height: 280vh;
  }
  .skill-icon {
    font-size: 2.5rem;
  }
  .recent-work {
    height: 60vh;
  }
  .inCon {
    width: 75%;
  }
  .btn-primary {
    width: 30%;
  }

  .contact {
    height: 70vh;
  }

  .contact-icon {
    font-size: 5rem;
    margin-top: 1rem;
  }

  .footer {
    margin-top: 3rem;
  }
}
